.container{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 260px;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
  img{
    max-height: 180px;
  }
  .brand{
    opacity: 60%;
  }
  .name{
    display: flex;
    margin: 5px;
    font-size: 1.2rem;
    div{
      margin: 5px;
    }
  }
  .prise{
    font-size: 1.6rem;
  }
  .copies{
    margin: 0 10px 0 10px;
    font-size: 1.2rem;
  }
}